.chess-board {
    border: 2px solid black;
    width: 320px;
    height: 320px;
}

.chess-board td {
    width: 40px;
    height: 40px;
}

.chess-board td {
    background-color: white;
}

.chess-board td.black {
    background-color: #333;
}